
body{
	background: #c1bebd;
}

.cont{
font-family: "BenchNine", sans-serif;
	padding: 80px;
	text-align: justify;
	font-size: 20px; 	
}
.pie{
	padding-top: 40px;
}

h2{
	font-family: "BenchNine", sans-serif;
	font-size: 30px;    
}