
.slider-bg-1 {
    background-image: url(../img/yo.jpg);
    
    background-color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: "BenchNine", sans-serif;
    color: #151515;
    position: relative;



}
.section-padding {
    padding-top: 110px;
    padding-bottom: 110px;
}
.main-slider-1 {
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
body {
    background-color:  #c1bebd ;
    font-size: 18px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: "BenchNine", sans-serif;
    color: #151515;
    position: relative;    
font-family: "BenchNine", sans-serif;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.section, .main-wrapper {
    float: left;
    width: 100%;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
html {
    color: -internal-root-color;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.card-body .content {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff;
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mx-auto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.mx-auto button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 35px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    margin-bottom: 10px;
}
.desc{
    text-align: justify;
   font-size: 20px;
}
.main-slider-content h1{
    font-size: 110px;
}